@model PagedData<Product>
<h1>Hello World</h1>

@foreach (var item in Model.Data)
{
   @Html.Partial("ProductSummary", item)
}

<div page-model="Model.PageInfo" page-action="index" page-classes-enabled="true" page-class="btn" page-class-normal="" page-class-selected="btn-success"></div>

